<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,500;0,700;1,200;1,300;1,500;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style6.css">
  <title>CoachHer</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a class="navLinks" href="/">Home</a></li>
        <li><a class="navLinks" href="/browsecoaches">Find A Coach</a></li>
        <li><a class="navLinks" href="/signup">Sign Up</a></li>
        <li><a class="navLinks" href="/login">Log In</a></li>
      </ul>
    </nav>
  </header>
  <main>

    <h1>Sign In to Your Account</h1>


    <section class="loginAlt">
      <p>Need an account? <a href="/signup">Sign up now</a></p>
    </section>

    <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
      <% } %>

      <!-- LOGIN FORM -->
      <form action="/login" method="post" class="loginCreds">
        <div class="">

          <input type="text" placeholder="Email Address" class="form-control" name="email">
        </div>
        <div class="">

          <input type="password" placeholder="**********" class="form-control" name="password">
        </div>

        <button type="submit" class="">Login</button>
      </form>



    </main>

    <footer>
      <p class="copy"> Copyright © 2021 CoachHer. All rights reserved.</p>
    </footer>

  </body>
  </html>
